{% assign header_text_color = '#F7F5F0' %}
{% assign background_color = collection.metafields.custom.hero_color | default: '#283645' %}

{% if collection.metafields.custom.text_color == 'Dark' %}
  {% assign header_text_color = '#283645' %}
{% endif %}

{% if collection.metafields.custom.plp_hero_image != blank %}
  <section
    class="section-p-x pb-8 min-h-[342px] flex items-end pt-[var(--nav-height)]"
    :class="$store.main.transparentHeader ? 'mt-[30px]' : ''"
    style="background-color: {{ background_color }}; color: {{ header_text_color }};"
    x-data
    x-cloak
    x-init="Alpine.store('main').removeHeaderSpacer(); Alpine.store('main').setHeaderColors('{{ background_color }}', '{{ header_text_color }}');"
  >
    <div class="grid md:grid-cols-12 gap-6 md:gap-5 w-full pt-16 md:pt-6">
      <div class="md:col-span-8 flex flex-col justify-end pt-6">
        <div class="flex" style="animation: fadeIn 400ms ease-in-out">
          {% if parent_collection != blank %}
            <a href="{{ parent_collection.url }}">
              <span class="heading-lg opacity-50 whitespace-nowrap">{{ parent_collection.title }}</span>
            </a>
            <span class="px-4 heading-lg opacity-50">/</span>
          {% endif %}
          <h1 class="heading-lg whitespace-nowrap">{{ collection.title }}</h1>
        </div>
        {% if collection.description != blank %}
          <div class="opacity-80 text-sm leading-1.5 tracking-2pc pt-5 md:pt-6 md:max-w-[37.5%]" style="animation: fadeIn80 600ms ease-in-out">{{ collection.description }}</div>
        {% endif %}
      </div>
      <div class="md:col-span-4 flex items-end" style="animation: fadeIn 800ms ease-in-out">
        {% render 'image',
            image_desktop: collection.metafields.custom.plp_hero_image,
            image_mobile: collection.metafields.custom.plp_hero_image,
            width_desktop: '1000x',
            width_mobile: '800x',
            ratio_desktop: '50%',
            ratio_mobile: '50%',
            lazy: true,
            image_classes: 'rounded-4',
          %}
      </div>
    </div>
  </section>
{% else %}
  <section
    class="section-p-x pb-8 min-h-[240px] pt-[var(--nav-height)] flex items-end"
    style="background-color: {{ background_color }}; color: {{ header_text_color }};"
    x-data
    x-cloak
    x-init="Alpine.store('main').removeHeaderSpacer(); Alpine.store('main').setHeaderColors('{{ background_color }}', '{{ header_text_color }}');"
  >
    <div class="grid md:grid-cols-12 gap-5 md:mt-0 md:pt-6 lg:pt-4" id="collection-banner-top-padding">
      <div class="md:col-span-8 flex flex-wrap md:flex-nowrap items-end">
        {% if parent_collection != blank %}
          <a href="{{ parent_collection.url }}">
            <span class="heading-lg opacity-50 whitespace-nowrap">{{ parent_collection.title }}</span>
          </a>
          <span class="px-4 heading-lg opacity-50">/</span>
        {% endif %}
        <h1 class="heading-lg whitespace-nowrap">{{ collection.title }}</h1>
      </div>
      <div class="md:col-span-4 flex items-end md:pt-10">
        <div class="opacity-80 para-sm leading-1.5 tracking-2pc">{{ collection.description }}</div>
      </div>
    </div>
  </section>
{% endif %}