<nav
  x-cloak
  x-data="{
    menu: null,
    level1: null,
    level2: null,
    resetMenu() {
      setTimeout(() => {
        this.menu = null;
        this.level1 = null;
        this.level2 = null;
      }, 200);
    },
  }"
  x-show="$store.main.isMobileNavOpen"
  x-transition.scale.origin.top.opacity.duration.200ms
  class="z-[var(--z-index-header-mobile-panels)] h-screen fixed top-0 z-header left-0 bg-light text-dark p-container overflow-y-auto flex flex-col overflow-hidden tablet:hidden"
  style="width: 88%;"
>
  <div class="sticky top h-nav">
    <button
      id="hamburger-icon"
      @click="$store.main.toggleMobileNav(); resetMenu();"
      class="w-9 h-9 rounded-full bg-white flex items-center justify-center"
      type="button"
    >
      <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1282_7157)">
        <path d="M21.0938 5.90625L5.90625 21.0938" stroke="#A88667"/>
        <path d="M21.0938 21.0938L5.90625 5.90625" stroke="#A88667"/>
        </g>
        <defs>
        <clipPath id="clip0_1282_7157">
        <rect width="27" height="27" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </button>
  </div>

  <div class="flex-1">
    <div class="border-t border-t-brown border-opacity-25 mb-5">
      {% if section.settings.tea_menu != blank %}
        <button
          class="mob-first-parent border-b border-b-brown border-opacity-25 pt-3 pb-4 font-serif text-5xl tracking-4pc font-100 flex justify-between items-center w-full px-3"
          type="button"
          @click="menu = (menu === 'tea' ? '' : 'tea')"
        >
          Shop
          <div class="text-brown transform" :class="{'-rotate-90': menu !== 'tea'}">
            {% render 'svg__chevron-down' %}
          </div>
        </button>
      <div class="">
        {% render 'header__mobile-nav-pane', link_handle: 'tea', link_title: 'Shop', links: section.settings.tea_menu.links %}
      </div>
      {% endif %}
      {% if section.settings.teaware_menu != blank %}
        <button
          class="border-b border-b-brown border-opacity-25 pt-3 pb-4 font-serif text-5xl tracking-4pc font-100 flex justify-between items-center w-full px-3"
          @click="menu = (menu === 'teaware' ? '' : 'teaware')"
          type="button"
        >
          Teaware
         <div class="text-brown transform" :class="{'-rotate-90': menu !== 'teaware'}">
            {% render 'svg__chevron-down' %}
          </div>
        </button>
        <div class="">
          {% render 'header__mobile-nav-pane', link_handle: 'teaware', link_title: 'Teaware', links: section.settings.teaware_menu.links, auto_expand: true %}
        </div>
      {% endif%}
      {% if section.settings.discover_menu != blank %}
        <button
          class="border-b border-b-brown border-opacity-25 pt-3 pb-4 font-serif text-5xl tracking-4pc font-100 flex justify-between items-center w-full px-3"
          @click="menu = (menu === 'discover' ? '' : 'discover')"
          type="button"
        >
          Discover
          <div class="text-brown transform" :class="{'-rotate-90': menu !== 'discover'}">
            {% render 'svg__chevron-down' %}
          </div>
        </button>
        <div class="">
          {% render 'header__mobile-nav-discover-pane', link_handle: 'discover', link_title: 'Discover', links: section.settings.discover_menu.links[0].links, section: section %}
        </div>
      {% endif %}
      {% if section.settings.left_link_label != blank %}
        <a
          href="{{ section.settings.left_link_url }}"
          class="border-b border-b-brown border-opacity-25 pt-3 pb-4 font-serif text-5xl tracking-4pc font-100 flex justify-between items-center w-full px-3"
        >
          {{ section.settings.left_link_label }}
        </a>
      {% endif %}
      {% if section.settings.mobile_additional_link_1 != blank %}
        <a
          href="{{ section.settings.mobile_additional_link_url_1 }}"
          class="border-b border-b-brown border-opacity-25 pt-3 pb-4 font-serif text-5xl tracking-4pc font-100 flex justify-between items-center w-full px-3"
        >
          {{ section.settings.mobile_additional_link_1 }}
        </a>
      {% endif %}
      {% if section.settings.mobile_additional_link_2 != blank %}
        <a
          href="{{ section.settings.mobile_additional_link_url_2 }}"
          class="border-b border-b-brown border-opacity-25 pt-3 pb-4 font-serif text-5xl tracking-4pc font-100 flex justify-between items-center w-full px-3"
        >
          {{ section.settings.mobile_additional_link_2 }}
        </a>
      {% endif %}
    </div>
  </div>
</nav>

<style>
  .sub-menu-new {
    margin-left: 15px;
}
.sub-menu-new  button.font-serif {
    font-size: 26px;
}
.sub-menu-new a.font-serif {
    font-size: 26px;
}

  .sub-menu-new div div a.font-serif {
    font-size: 20px;
}
</style>