<div
  class="sub-menu-new flex flex-col h-full"
  x-show="menu == '{{ link_handle }}'"
  x-transition.opacity.duration.200ms
>

  <div class="flex-1 flex flex-col justify-between gap-5 h-full">
    <div>
      {% for l1_link in links %}
        {% if l1_link.links.size > 0 %}
          <div class="border-b border-b-brown border-opacity-25 pt-3 pb-4 px-3 w-full">
            <button
              class="font-serif text-5xl tracking-4pc font-100 flex justify-between items-center w-full"
              type="button"
              @click="level1 == '{{ l1_link.handle }}' ? level1 = null : level1 = '{{ l1_link.handle }}'"
              {% if auto_expand %}
                {% if forloop.first %}
                  x-init="level1 = '{{ l1_link.handle }}'"
                {% endif %}
              {% endif %}
            >
              {{ l1_link.title }}
              <div
                class="text-brown transform transition-transform"
                :class="{ 'rotate-180': level1 == '{{ l1_link.handle }}' }"
              >
                {% render 'svg__chevron-down' %}
              </div>
            </button>

            <div
              x-show="level1 == '{{ l1_link.handle }}'"
              x-collapse
            >
              <div class="py-8 px-2 flex flex-col gap-4">
                {% for l2_link in l1_link.links %}
                  <a
                    class="font-serif text-3xl tracking-4pc font-100 flex justify-between items-center w-full"
                    href="{{ l2_link.url }}"
                  >
                    {{ l2_link.title }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="flex justify-center gap-4 pb-10">
      {% for l1_link in links %}
        {% if forloop.last %}
          <a
            href="{{ l1_link.url }}"
            class="button__primary"
          >
            {{ l1_link.title }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
