<ul
  id="breadcrumbs"
  aria-label="breadcrumbs"
  x-data="{ childrenCount: $el.children.length }"
  class="flex items-center gap-x-1.5 text-dark/50 para-sm md:relative md:top-0 md:mb-4 md:left-0 mt-4"
>
  {% assign parent_collection = collection.metafields.custom.parent_collection.value %}
  {% if parent_collection %}
    <li class="hover:text-dark transition-all duration-100">
      <a href="{{ parent_collection.url }}">
          {{ parent_collection.title }}
      </a>
    </li>
  {% endif %}
  {% if collection.url %}
    <span x-show="childrenCount > 4">•</span>
    <li class="hover:text-dark transition-all duration-100">
      <a href="{{ collection.url }}">
          {{ collection.title }}
      </a>
    </li>
    <span x-show="childrenCount > 1">•</span>
  {% endif %}
  <span>{{ product.title }}</span>
</ul>