{% assign min_price = blank %}

{% for variant in product.variants %}
  {% if min_price == blank or variant.price < min_price and variant.title != 'Teaser' %}
    {% assign min_price = variant.price %}
  {% endif %}
{% endfor %}

<a href="{{ product.url }}">
  <div class="flex bg-light/50 justify-start rounded-4 {{ classes }} relative overflow-hidden pr-3.5 group">
    <div class="block overflow-hidden">
      <img class="aspect-square object-cover max-h-[88px] group-hover:scale-105 transition-all duration-300" src="{{ product.featured_image | img_url: '200x' }}" alt="{{ product.title }}-image">
    </div>
    <div class="flex flex-col md:gap-1 justify-center pt-3 pb-3 md:pb-3.5 pl-3 md:pl-4 pr-3 md:pr-10">
      <h3 class="para-sm">{{ product.title}}</h3>
      <p class="para-sm opacity-75">{{ product.metafields.my_fields.tasting_notes }}</p>
      <p class="para-sm opacity-75">from {{ min_price | money_without_trailing_zeros }}</p>
    </div>
  </div>
</a>