<!doctype html>
  <html class="no-js" lang="{{- request.locale.iso_code -}}" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
      <link rel="preload" href="{{ 'base.css' | asset_url }}" as="style">
      <link rel="preload" href="{{ 'base.js' | asset_url }}" as="script">

      {%- liquid
        render 'head__seo'
        render 'head__metas'
        render 'head__integration-scripts'
        render 'head__fonts'
      -%}

      {{ 'base.css' | asset_url | stylesheet_tag }}
      <script src="{{- 'base.js' | asset_url -}}" defer></script>

      <!-- Start vendor third party libaries -->
       <script src="{{- 'vendors.js' | asset_url -}}" defer></script>
      <!-- End vendor third party libaries -->

      <!-- Header hook for plugins -->
      {{ content_for_header }}
    </head>
    <body
      x-data
      :class="{
        'overflow-hidden': $store.main.isNavOpen || $store.main.isMiniCartOpen,
        'scrolled': $store.main.isScrolled
      }"
      class="layout-theme template-{{- template.name -}}{%- if template.suffix -%}-{{- template.suffix -}}{%- endif -%}"
    >
      {% section 'header' %}

      <main id="main-content" role="main" class="u-focus-none" tabindex="-1">
        {{ content_for_layout }}
      </main>

      {% render 'hydrate' %}

      {% section 'cart-menu' %}
    </body>
  </html>
