<div
  x-data="{ mode: 'login' }"
  x-init="if(window.location.hash === '#recover') mode = 'recover'"
  class="pt-12 md:pt-20 section-p-b large section-p-x"
  style="animation: fadeIn 500ms ease-in-out"
>
  <div class="max-w-[460px] mx-auto">
    <div
      x-cloak
      x-show="mode === 'login'"
      :style="mode === 'login' ? 'animation: fadeIn 500ms ease-in-out' : 'none'"
    >
      <h1 class="heading-md text-center pb-20">
        {{ section.settings.login_heading | newline_to_br }}
      </h1>
      <div class=" ">
        {% form 'customer_login', class: '' %}
          <div class="w-full pb-8 input-error-wrapper {% if form.errors contains 'email' %}error{% endif %}">
            <label class="sr-only" for="email">Email Address</label>
            <input
              class="input__secondary {% if form.errors contains 'email' %}error{% endif %}"
              placeholder="Email Address"
              type="email"
              name="customer[email]"
              id="email"
              autocomplete="username"
              required
              autofocus
            />
          </div>
          <div class="w-full input-error-wrapper {% if form.errors contains 'password' %}error{% endif %}">
            <label class="sr-only" for="password">Password</label>
            <input
              class="input__secondary {% if form.errors contains 'password' %}error{% endif %}"
              placeholder="Password"
              type="password"
              autocomplete="current-password"
              name="customer[password]"
              id="password"
              required
            />
          </div>

          <div class="text-orange text-center para-sm pt-10">
            {{ form.errors | default_errors }}
          </div>

          <div class="text-center">
            <button
              class="button__secondary w-full"
              type="submit"
            >
              Sign in
            </button>
          </div>
          <p class="pt-10 para-xs text-center">
            Forgot login?
            <a
              @click="mode = 'recover'"
              href="#recover"
              class="underline para-xs"
            >
              Reset Password
            </a>
          </p>
          <p class="pt-3 para-xs text-center">
            New here?
            <a
              href="/account/register"
              class="underline para-xs"
            >
              Create an Account
            </a>
          </p>
        {% endform %}
      </div>
    </div>



    <div
      x-cloak
      x-show="mode === 'recover'"
      :style="mode === 'recover' ? 'animation: fadeIn 500ms ease-in-out' : 'none'"
    >
      <h1 class="heading-md pb-4 text-center">
        {{ section.settings.reset_heading }}
      </h1>

      <p class="pb-18 text-center para-md">
        {{ section.settings.reset_text | newline_to_br }}
      </p>

      <div
        class="form-success text-center mb-10 hidden"
        data-reset-success
      >
        Password recovered
      </div>

      {% if form.posted_successfully? %}
        <div class="success-container flex flex-col">
          <div class="mb-5">
            <svg width="52" height="49" viewBox="0 0 52 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.78483 21.037C5.01135 17.0809 6.70888 13.3526 9.54398 10.5842C15.7482 4.57035 25.2232 1.9658 33.4695 5.01165C50.6803 11.2332 53.8906 38.2392 34.5857 43.7598C23.0167 47.0566 11.3352 43.8549 6.64523 31.9657C5.22092 28.5063 4.58539 24.7729 4.78483 21.037Z" fill="#FFD87C" stroke="#FFA500" stroke-width="1.5" stroke-miterlimit="10"/>
              <path d="M14.1104 23.3834L17.502 20.8697L25.434 29.3977L47.3797 3.73242L50.6704 6.17339L26.7304 34.3934L24.5204 34.4134L14.1104 23.3834Z" fill="#FFA500"/>
            </svg>
          </div>
          <h6 class="mb-1">{{ section.settings.resetSuccessHeading }}</h6>
          <h6>{{ section.settings.resetSuccessText }}</h6>
        </div>
      {% else %}
        {% form 'recover_customer_password', return_to: '#' %}
          <label class="sr-only" for="recover-email">Recovery Email</label>
          <input
            placeholder="Email Address"
            type="email"
            name="email"
            id="recover-email"
            class="input__secondary {% if form.errors contains 'email' %}error{% endif %}"
            spellcheck="false"
            autocomplete="email"
            autocapitalize="off"
            required
            autofocus
          >

          <div class="text-pink">
            {{ form.errors | default_errors }}
          </div>

          <div class="pt-12 text-center">
            <button
              class="button__secondary w-full"
              type="submit"
            >
              Send Reset Link
            </button>
          </div>
          <div class="pt-10 para-xs text-center">
            <a
              href="#"
              @click="mode = 'login'"
              class="underline cursor-pointer"
            >
              Cancel
            </a>
          </div>
        {% endform %}
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.login.name",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "login_heading",
      "label": "Login Heading",
      "default": "Welcome Back.<br/> Please Log In"
    },
    {
      "type": "textarea",
      "id": "reset_heading",
      "label": "Reset Heading",
      "default": "Password Reset"
    },
    {
      "type": "textarea",
      "id": "reset_text",
      "label": "Reset Text",
      "default": "Give us your email address and we’ll send <br/> you a link to reset your password."
    },
    {
      "type": "text",
      "id": "resetSuccessHeading",
      "label": "Reset Success Heading"
    },
    {
      "type": "textarea",
      "id": "resetSuccessText",
      "label": "Reset Success Text"
    }
  ]
}
{% endschema %}
