<section
  class="section-p-b {{ section.settings.padding_bottom }} section-p-x"
  x-data="{ fadeIn: false }"
  x-intersect.threshold.10="fadeIn = true"
  :class="fadeIn ? 'animate-fade-in' : 'opacity-0'"
>
  <div class="{% unless section.settings.full_width %} container {% endunless %}">
    <div class="hidden lg:flex flex-row gap-3">
      {% for block in section.blocks %}
        <div class="w-full relative" style="color: {{ block.settings.text_color }}">
          {% render 'image',
            image_desktop: block.settings.image_desktop,
            image_mobile: block.settings.image_mobile,
            width_desktop: '1000x',
            width_mobile: '800x',
            ratio_desktop: '100%',
            ratio_mobile: '125%',
            lazy: true,
            image_classes: 'rounded-4',
          %}
          <div class="absolute inset-0 flex flex-col justify-between p-3.5 md:p-9">
            <div>
              {% if block.settings.superscript_left != blank or block.settings.superscript_right != blank %}
                <div class="flex justify-between pb-5">
                  {% if block.settings.superscript_left != blank %}
                    <h3 class="para-xs">{{ block.settings.superscript_left }}</h3>
                  {% endif %}
                  {% if block.settings.superscript_right != blank %}
                    <h3 class="para-xs">{{ block.settings.superscript_right }}</h3>
                  {% endif %}
                </div>
              {% endif %}
              {% if block.settings.title != blank %}
                <h4 class="text-5xl font-serif tracking-2pc leading-none font-100 md:heading-md lg:w-4/5">{{ block.settings.title }}</h4>
              {% endif %}
            </div>
            <div class="flex items-end w-full justify-between {% if block.settings.flip_footer_orientation %} flex-row-reverse {% endif %}">
              <div class="text-[13px] para-sm pr-12 lg:pr-16 2xl:pr-20 opacity-80 leading-1.5 md:leading-1.5">{{ block.settings.description }}</div>
              <div>
                {% if block.settings.button_link != blank %}
                  <a href="{{ block.settings.button_link }}" class="{{ block.settings.button_color }} whitespace-nowrap">{{ block.settings.button_text }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="flex lg:hidden flex-col gap-3">
      {% for block in section.blocks %}
        <a href="{{ block.settings.button_link }}" class="w-full relative" style="color: {{ block.settings.text_color }}">
          {% render 'image',
            image_desktop: block.settings.image_desktop,
            image_mobile: block.settings.image_mobile,
            width_desktop: '1000x',
            width_mobile: '800x',
            ratio_desktop: '100%',
            ratio_mobile: '125%',
            lazy: true,
            image_classes: 'rounded-4',
          %}
          <div class="absolute inset-0 flex flex-col justify-between p-3.5 md:p-9">
            <div>
              {% if block.settings.superscript_left != blank %}
                <div class="flex justify-between pb-5">
                  <h3 class="para-xs">{{ block.settings.superscript_left }}</h3>
                </div>
              {% endif %}
              {% if block.settings.title != blank %}
                <h4 class="text-5xl font-serif tracking-2pc leading-none font-100 md:heading-md lg:w-4/5">{{ block.settings.title }}</h4>
              {% endif %}
            </div>
            <div class="text-[13px] md:para-sm pr-12 lg:pr-16 2xl:pr-20 opacity-80 leading-1.5 md:leading-1.5">{{ block.settings.description }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "CTA Card Split",
  "class": "section-cta-card-split",
  "settings": [
    {
      "type": "header",
      "content": "Component Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width?",
      "default": true,
      "info": "If checked, the section will span the full width of the screen."
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "info": "This indicates how much padding should be added to the bottom of the section.",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    }
  ],
  "blocks": [
    {
      "name": "CTA Card",
      "type": "cta_card",
      "limit": 2,
      "settings": [
        {
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image - Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image - Mobile",
          "info": "This image will only be used on mobile devices. If blank, the desktop image will be used."
        },
        {
          "type": "header",
          "content": "Text Settings"
        },
        {
          "type": "text",
          "id": "superscript_left",
          "label": "Superscript - Left"
        },
        {
          "type": "text",
          "id": "superscript_right",
          "label": "Superscript - Right"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "info": "Styles enabled / Size disabled. If blank, this will be hidden."
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "Component Settings"
        },
        {
          "type": "checkbox",
          "id": "flip_footer_orientation",
          "label": "Flip Footer Orientation?",
          "default": false,
          "info": "If checked, the footer's button and description text will be flipped."
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
          "info": "If blank, the button will be hidden"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Button Color",
          "options": [
            {
              "value": "button__primary",
              "label": "Dark"
            },
            {
              "value": "button__primary white",
              "label": "Light"
            }
          ],
          "default": "button__primary white"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CTA Card Split",
      "category": "Components"
    }
  ]
}
{% endschema %}
