<footer
  class="bg-dark px-container py-8 md:p-12 md:pb-0 text-white"
  x-data
  x-cloak
  x-intersect:enter="$store.main.footerInView = true"
  x-intersect:leave="$store.main.footerInView = false"
>
  <div class="md:grid grid-cols-4">
    <div class="col-span-1 flex flex-row gap-10 items-center md:items-start mb-11 md:mb-0">
      <svg class="w-16 md:w-20" width="80" height="122" viewBox="0 0 80 122" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.8594 121.358L39.6805 121.228C39.5667 121.228 39.3552 121.228 39.0625 121.228C30.6711 121.179 23.3529 118.576 17.3358 113.5C5.83824 103.803 0 86.0358 0 60.6871C0 35.3222 5.82197 17.5553 17.3196 7.85841C23.3367 2.78217 30.6385 0.17897 39.0463 0.13016C39.3552 0.13016 39.5666 0.13016 39.6967 0.13016L39.8919 0L40.0708 0.13016C40.1846 0.13016 40.396 0.13016 40.6888 0.13016C49.0802 0.17897 56.3983 2.78217 62.4155 7.85841C73.913 17.5553 79.7513 35.3222 79.7513 60.6708C79.7513 86.0358 73.9293 103.803 62.4317 113.5C56.4146 118.576 49.1127 121.179 40.705 121.228C40.396 121.228 40.1846 121.228 40.0545 121.228L39.8594 121.358ZM39.8594 1.12263C39.6968 1.1389 39.4691 1.1389 39.03 1.15517C30.8662 1.20398 23.7595 3.72583 17.9375 8.63937C6.68388 18.1248 0.975747 35.6476 0.975747 60.6871C0.975747 85.7429 6.70015 103.249 17.9538 112.751C23.792 117.665 30.8825 120.186 39.0463 120.235C39.4691 120.235 39.6968 120.235 39.8594 120.268C40.022 120.252 40.2497 120.252 40.6888 120.235C48.8525 120.186 55.9592 117.665 61.7812 112.751C73.0349 103.266 78.743 85.7429 78.743 60.7034C78.743 35.6638 73.0186 18.1573 61.765 8.65564C55.9267 3.7421 48.8363 1.22025 40.6725 1.17144C40.2497 1.17144 40.022 1.17144 39.8594 1.1389V1.12263Z" fill="#A88667"/>
        <path d="M60.3016 52.8607C63.6679 52.8607 66.4 50.1273 66.4 46.7595C66.4 43.3916 63.6679 40.6582 60.3016 40.6582C56.9352 40.6582 54.2031 43.3916 54.2031 46.7595C54.2031 50.1273 56.9352 52.8607 60.3016 52.8607ZM60.3016 41.4229C63.2451 41.4229 65.6357 43.8146 65.6357 46.7595C65.6357 49.7043 63.2451 52.096 60.3016 52.096C57.358 52.096 54.9675 49.7043 54.9675 46.7595C54.9675 43.8146 57.358 41.4229 60.3016 41.4229Z" fill="#A88667"/>
        <path d="M20.5077 73.7838C19.1254 73.7838 18.0195 74.9065 18.0195 76.2732C18.0195 77.6398 19.1416 78.7625 20.5077 78.7625C20.7842 78.7625 21.0606 78.6974 21.3046 78.616L20.898 79.4946C20.898 79.4946 20.1499 80.9264 20.1499 82.1141H20.9143C20.9143 81.1216 21.581 79.8688 21.581 79.8363L22.7194 77.3958C22.7682 77.3144 22.8007 77.2331 22.8332 77.1517V77.1192C22.9308 76.8426 22.9959 76.566 22.9959 76.2569C22.9959 74.8739 21.8737 73.7676 20.5077 73.7676V73.7838ZM22.1339 76.8751L22.0038 77.1355C21.7111 77.6561 21.1419 78.014 20.5077 78.014C19.5482 78.014 18.7676 77.2331 18.7676 76.2732C18.7676 75.3132 19.5482 74.5323 20.5077 74.5323C21.4672 74.5323 22.2478 75.3132 22.2478 76.2732C22.2478 76.4847 22.199 76.6799 22.1339 76.8589V76.8751Z" fill="#A88667"/>
        <path d="M17.7754 85.5146L18.3934 85.9702C18.3934 85.9702 18.865 85.3682 19.6456 85.3682H21.7597L19.8895 89.0778C19.8895 89.0778 19.2553 90.2655 19.2553 91.2579H20.0196C20.0196 90.4607 20.5563 89.4357 20.5563 89.4194L22.9794 84.6035H19.6293C18.4584 84.6035 17.7917 85.4821 17.7754 85.5146Z" fill="#A88667"/>
        <path d="M32.8674 89.2568L32.3633 89.8426C33.274 92.0227 35.2255 95.3418 39.7465 98.2867L40.0717 97.522C35.8272 94.8374 33.8269 91.4207 32.8674 89.2568Z" fill="#A88667"/>
        <path d="M56.3176 94.4793C53.7318 94.4793 51.1949 90.8023 51.0811 86.9788C56.3826 84.701 58.6106 82.1629 64.9204 74.9716L66.9532 72.6612L66.5955 72.4172C65.0343 71.3434 63.6682 72.043 62.3022 73.247C62.5949 72.0755 62.351 70.9041 61.5704 69.8628C61.9281 68.5449 61.798 66.9993 60.741 65.3235C60.7898 65.2096 60.8223 65.112 60.8711 64.9981C61.1963 64.2008 61.5216 63.3711 61.9444 62.4274C63.099 59.8893 63.2617 59.5802 63.2617 59.5802L63.4568 59.2059L63.0665 59.0432C63.0665 59.0432 62.6437 58.8805 62.1558 58.8805C61.4565 58.848 60.3832 59.1571 59.2448 60.7679L58.9846 61.1421C58.5293 61.7929 58.0577 62.4599 57.456 63.4036C57.4072 63.485 57.3421 63.5988 57.2608 63.7127C55.2117 63.7127 52.9512 63.4036 51.9755 63.2572C51.8454 63.7453 51.6665 64.8191 52.3658 65.8604C52.8537 66.5763 53.6505 67.0481 54.7401 67.2433C54.8052 67.2433 54.854 67.2596 54.919 67.2759C54.2197 68.187 53.5692 68.8866 53.0488 69.2608C52.6423 69.5537 51.6665 70.2045 50.4306 70.9854C49.8776 62.6226 43.7304 60.7679 40.1689 60.6377L48.1375 46.8245C50.951 41.9435 50.951 34.02 48.1375 29.139L39.5184 14.2031L30.8993 29.139C28.0859 34.02 28.0859 41.9435 30.8993 46.8245L38.4776 59.9381L31.4848 55.9031C28.6551 54.2599 24.0203 54.2599 21.1906 55.9031L12.3926 60.9956L21.1906 66.0882C22.6054 66.9017 24.4756 67.3247 26.3458 67.3247C28.216 67.3247 30.0699 66.9179 31.501 66.0882L39.6323 61.3861C43.2913 61.4024 46.121 62.8016 47.8448 65.2421C47.7147 65.3235 47.5521 65.4211 47.3732 65.5187C46.0072 66.3159 43.7142 67.6501 41.7789 69.0493C39.1769 70.9203 38.2987 73.7188 37.1766 77.2656C36.4773 79.4458 35.6967 81.8863 34.3795 84.5383C33.8591 84.5383 33.3712 84.7661 33.0622 85.1729L27.5655 92.0388V92.1527C27.5655 92.234 27.4354 94.3329 28.7852 97.05C30.0049 99.5393 32.737 103.07 38.7866 105.722L39.1444 105.885L42.8034 96.6269C42.9661 96.2202 43.0149 95.7646 42.9335 95.3253L42.7709 94.4142C45.2428 90.0539 48.6417 88.0527 50.3655 87.288C50.5932 91.0789 53.0163 95.1789 56.3664 95.1789L56.6916 94.463H56.3501L56.3176 94.4793ZM30.1675 60.654H26.2645L22.9957 57.3837V58.4575L25.1912 60.654H19.5806V61.3373H25.1912L22.9957 63.5338V64.6076L26.2645 61.3373H30.1675L27.4029 64.1032V65.177L31.2408 61.3373H38.1849L31.1107 65.4211C28.4762 66.9342 24.1992 66.9342 21.5646 65.4211L13.905 60.9956L21.5646 56.5702C24.1992 55.0571 28.4762 55.0571 31.1107 56.5702L38.1849 60.654H31.2408L27.4029 56.8143V57.8881L30.1675 60.654ZM44.7224 41.5205L39.9087 46.3364V37.4855L45.7957 31.5958H44.7224L39.9087 36.4117V23.6397H39.1444V36.4117L34.3307 31.5958H33.2574L39.1444 37.4855V46.3364L34.3307 41.5205H33.2574L39.1444 47.4102V59.5802L31.5661 46.4503C28.8665 41.7808 28.8665 34.1827 31.5661 29.5295L39.5347 15.7325L47.487 29.5295C50.1866 34.199 50.1866 41.797 47.487 46.4503L39.9087 59.5802V47.4102L45.7957 41.5205H44.7224ZM54.8702 66.5112C53.992 66.3485 53.3578 66.0068 53 65.4536C52.6748 64.9818 52.626 64.4612 52.626 64.1358C53.6017 64.2659 55.1304 64.4449 56.8055 64.4774C56.8055 64.4774 56.3013 65.3397 55.4231 66.5925C55.3093 66.5763 55.1467 66.5437 54.8865 66.4949L54.8702 66.5112ZM49.6825 71.4573C47.7798 72.645 45.4542 74.0279 43.4865 75.0041C43.5515 74.4509 43.6816 73.7351 43.893 73.3446C44.2345 72.6938 45.1127 71.9454 46.0559 71.1481C47.2756 70.1068 48.6092 68.9842 49.097 67.7314C49.4711 68.8541 49.6662 70.0906 49.6987 71.441L49.6825 71.4573ZM38.689 104.876C28.0371 100.06 28.281 92.3154 28.281 92.3154L33.2574 86.1003C33.9566 87.9062 36.3472 92.9662 42.0716 96.3341L38.689 104.876ZM41.5187 95.0976C37.2254 92.234 35.0788 88.3618 34.2331 86.4257C36.087 83.1066 37.0465 80.1292 37.8759 77.4934C38.9655 74.0767 39.8111 71.3922 42.2017 69.6676C44.1207 68.2846 46.3812 66.9667 47.7472 66.1695C47.9424 66.0556 48.105 65.958 48.2514 65.8766C48.2514 65.8766 48.3327 65.9743 48.3977 66.137C49.0157 67.6501 47.2594 69.1306 45.5681 70.5787C44.5761 71.4084 43.6491 72.2057 43.2263 72.9866C42.7709 73.8489 42.6896 75.541 42.6896 75.6224L42.6571 76.2569L43.2263 75.9803C46.9179 74.2232 52.3658 70.7088 53.5042 69.8791C54.236 69.3422 55.1792 68.2846 56.155 66.9017C56.6103 66.2509 57.2283 65.2421 57.6836 64.51C57.8463 64.2334 57.9926 64.0056 58.1064 63.8266C58.6919 62.8992 59.1635 62.2322 59.6189 61.5976L59.8791 61.2234C60.5946 60.2147 61.3752 59.6452 62.0908 59.6452C62.107 59.6452 62.1233 59.6452 62.1558 59.6452C62.2371 59.6452 62.3184 59.6452 62.3998 59.6615C62.2209 60.052 61.8794 60.7679 61.2776 62.1183C60.8386 63.0782 60.5133 63.908 60.1881 64.7215C59.6351 66.137 59.1472 67.3572 58.2853 68.7239C57.212 70.4322 55.4557 71.8152 53.5855 73.2795C53 73.7351 52.4146 74.1906 51.8291 74.6787C51.325 75.0855 51.0485 75.72 51.0485 76.3708C52.0243 75.4759 53.0488 74.6624 54.0571 73.8815C55.9761 72.3846 57.7812 70.9692 58.9358 69.1469C59.5701 68.1382 59.9929 67.2108 60.3995 66.2346C61.4728 68.3009 61.115 70.3509 59.3099 72.3521C58.8383 72.8727 57.7324 73.8978 56.5615 74.9716C55.9923 75.5085 55.3906 76.0617 54.8052 76.6148C54.3661 77.0379 54.1059 77.6236 54.1059 78.2256V78.3232C55.0166 77.4446 56.0899 76.4359 57.0819 75.5248C58.3179 74.3859 59.3912 73.3934 59.8791 72.8565C60.3995 72.2708 60.9199 71.5711 61.2776 70.7739C62.3998 72.7589 60.9524 74.6136 60.2368 75.3621C59.196 76.4359 58.1878 77.4283 57.3746 78.2093C56.9356 78.6323 56.6916 79.2018 56.6916 79.8038V79.9014C57.5373 79.1204 59.7164 77.0053 61.3915 75.2319C63.2617 73.312 64.4326 72.2057 65.8149 72.8402L64.3675 74.4835C57.9926 81.7562 55.846 84.2129 50.398 86.4745C48.6417 87.2066 44.3159 89.5007 41.5512 95.1138L41.5187 95.0976Z" fill="#A88667"/>
      </svg>

      <div class="md:hidden col-span-2 xl:col-span-1 flex-1 max-w-xs">
        <div class="text-white text-opacity-40 mb-2 text-base tracking-4pc">
          Subscribe to Our Newsletter
        </div>
        {% render 'newsletter' %}
      </div>
    </div>
    <div class="col-span-3">
      <div class="hidden md:grid grid-cols-4 gap-10 mb-28">
        <div class="col-span-2 xl:col-span-2">
          <div class="text-white text-opacity-40 mb-2 text-base tracking-4pc">
            Subscribe to Our Newsletter
          </div>
          {% render 'newsletter' %}
        </div>
        <div class="hidden lg:block lg:col-span-1 xl:col-span-1"></div>
        <div class="col-span-2 lg:col-span-1">
          <a href="/pages/contact">
            <h4 class="text-white text-opacity-40 mb-2 text-base tracking-4pc">
              Customer Service
            </h4>
          </a>
          <a
            href="tel:{{ section.settings.customer_phone }}"
            class="border-b border-b-brown text-base tracking-4pc leading-1.5 inline-block"
          >
            {{ section.settings.customer_phone }}
          </a>
          <div class="text-base tracking-4pc leading-1.5">
            {{ section.settings.customer_copy }}
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-4 gap-10 mb-16 md:mb-24">
        {% for l1_link in section.settings.footer_menu.links %}
          <div>
            <div class="text-sm text-brown tracking-7pc uppercase mb-5 font-500">
              {{ l1_link.title }}
            </div>
            <div class="flex flex-col gap-2.5">
              {% for l2_link in l1_link.links %}
                <a
                  href="{{ l2_link.url }}"
                  class="text-base md:text-md tracking-4pc"
                  {% if l1_link.title == 'Social'%}
                    target="_blank"
                  {% endif %}
                >
                  {{ l2_link.title }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="md:hidden text-center col-span-2 xl:col-span-1">
    <a href="/pages/contact">
      <p><b class="text-white text-opacity-40 mb-2 text-base tracking-4pc">
        Customer Service
      </b>
        </p>
    </a>
    <a
      href="tel:{{ section.settings.customer_phone }}"
      class="border-b border-b-brown text-base tracking-4pc leading-1.5 inline-block"
    >
      {{ section.settings.customer_phone }}
    </a>
    <div class="text-base tracking-4pc leading-1.5">
      {{ section.settings.customer_copy }}
    </div>
  </div>

  <div class="flex flex-col items-center gap-5 xl:flex-row border-t border-t-brown border-opacity-50 py-11 text-brown text-opacity-75 w-full">
    <div class="flex-1 text-xs sm:text-sm tracking-4pc capitalize">
      © {{ "now" | date: "%Y" }} Rishi Tea & Botanicals. All rights reserved
    </div>
    <div class="w-full md:w-auto">
      <svg width="100%" height="12" viewBox="0 0 514 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.32028 5.21644H4.38602V6.33584H1.32028V10.6567H5.39302V11.7761H0V0.201552H5.28113V1.32095H1.32028V5.19403V5.21644ZM15.9777 3.11196C15.8658 2.64182 15.5525 1.14181 14.0979 1.14181C12.8224 1.14181 12.5091 2.35077 12.5091 3.0448C12.5091 4.23137 13.0909 4.54481 14.9259 5.44033C16.3357 6.13436 17.3427 6.78359 17.3427 8.70896C17.3427 11.0597 15.6196 11.9776 14.2098 11.9776C13.7175 11.9776 12.5762 11.8657 11.8154 11.0373C11.0769 10.2314 10.9427 9.3806 10.8532 8.84328L12.0839 8.52982C12.1287 8.88803 12.2406 9.51492 12.7105 10.097C12.9791 10.4776 13.4714 10.8358 14.2322 10.8358C15.5077 10.8358 16.0224 9.87314 16.0224 8.77612C16.0224 7.45523 15.3511 7.05222 14.3888 6.58208C12.2853 5.55223 11.256 5.05972 11.256 3.11196C11.256 1.16421 12.4867 0 14.1427 0C16.4923 0 17.007 2.10447 17.1861 2.7985L16 3.08955L15.9777 3.11196ZM25.0406 1.34329H22.8028V0.223894H28.5987V1.34329H26.3609V11.7761H25.0406V1.34329ZM473.78 10.7686H475.503V11.7985H470.625V10.7686H472.46V2.03732C472.147 2.50746 471.699 3.06716 470.535 3.71641V2.41794C471.475 1.90302 472.326 0.917949 472.818 0.111981H473.758V10.7686H473.78ZM483.582 9.38057C483.671 9.80595 483.872 10.8358 485.126 10.8358C486.244 10.8358 486.692 9.806 486.849 9.15675C487.117 8.1269 487.184 7.09702 487.184 6.04479C486.916 6.69404 486.446 7.74629 485.036 7.74629C483.156 7.74629 482.306 5.79851 482.306 3.94031C482.306 2.52986 482.955 0.0224099 485.394 0.0224099C488.281 0.0224099 488.437 3.80601 488.437 5.5075C488.437 8.75375 487.856 12 485.058 12C482.933 12 482.619 10.4328 482.485 9.73879L483.582 9.38057ZM483.582 3.9179C483.582 4.41043 483.626 6.60449 485.237 6.60449C486.222 6.60449 486.983 5.64182 486.983 3.89556C486.983 3.08959 486.826 1.16422 485.26 1.16422C484.051 1.16422 483.559 2.48511 483.559 3.89556L483.582 3.9179ZM496.158 9.38057C496.247 9.80595 496.449 10.8358 497.702 10.8358C498.821 10.8358 499.268 9.806 499.425 9.15675C499.693 8.1269 499.761 7.09702 499.761 6.04479C499.492 6.69404 499.022 7.74629 497.612 7.74629C495.733 7.74629 494.882 5.79851 494.882 3.94031C494.882 2.52986 495.531 0.0224099 497.97 0.0224099C500.857 0.0224099 501.014 3.80601 501.014 5.5075C501.014 8.75375 500.432 12 497.635 12C495.509 12 495.196 10.4328 495.061 9.73879L496.158 9.38057ZM496.158 3.9179C496.158 4.41043 496.202 6.60449 497.814 6.60449C498.798 6.60449 499.559 5.64182 499.559 3.89556C499.559 3.08959 499.402 1.16422 497.836 1.16422C496.628 1.16422 496.135 2.48511 496.135 3.89556L496.158 3.9179ZM508.018 0.223894H513.523V1.09706C512.784 2.35079 511.822 4.00745 511.106 7.2761C510.748 8.79848 510.591 10.2313 510.636 11.7761H509.293C509.293 8.4403 510.479 3.9851 512.382 1.43286H507.951L508.063 0.223894H508.018ZM73.1079 8.59705C73.4435 9.26869 74.2044 9.7612 74.8981 9.7612C75.4351 9.7612 75.9274 9.38057 75.9274 8.88804C75.9274 8.48505 75.5918 8.08208 74.7191 7.56715C73.4659 6.87312 72.168 6.22388 72.168 4.63433C72.168 3.17911 73.354 2.17164 74.8981 2.17164C76.1288 2.17164 77.0687 2.73135 77.6729 3.64925L76.4645 4.90298C76.0617 4.18656 75.5246 3.85074 74.9204 3.85074C74.3162 3.85074 74.003 4.20898 74.003 4.65674C74.003 5.03734 74.3386 5.41791 75.2337 5.88805C76.4869 6.55969 77.8072 7.32088 77.8072 8.88804C77.8072 10.4552 76.5092 11.5075 74.8085 11.5075C73.6225 11.5075 72.3694 10.8806 71.7876 9.87311L73.1079 8.61939V8.59705ZM85.3932 11.3507V2.30596H90.3834V4.00747H87.1387V5.73132H89.645V7.5224H87.1387V9.62688H90.3834V11.3731H85.3932V11.3507ZM98.0366 11.3507V2.30596H99.8044V9.60447H103.049V11.3507H98.059H98.0366ZM110.434 11.3507V2.30596H115.424V4.00747H112.179V5.73132H114.686V7.5224H112.179V9.62688H115.424V11.3731H110.434V11.3507ZM128.963 9.44774C128.358 10.7462 127.396 11.5075 125.897 11.5075C123.838 11.5075 122.473 9.35819 122.473 7.00745C122.473 4.5 123.883 2.21646 126.053 2.21646C127.217 2.21646 128.179 2.79855 128.806 3.89556L127.486 5.14928C127.172 4.47764 126.68 4.1642 126.031 4.1642C125.069 4.1642 124.397 5.19405 124.397 6.89554C124.397 8.59703 125.002 9.67163 126.098 9.67163C126.837 9.67163 127.351 9.29106 127.597 8.44032L128.985 9.47015L128.963 9.44774ZM137.958 11.3507V4.00747H136.011V2.30596H141.628V4.00747H139.749V11.3507H137.958ZM148.23 6.73881C148.23 4.29852 149.572 2.19405 151.765 2.19405C153.958 2.19405 155.301 4.29852 155.301 6.73881C155.301 9.33581 153.914 11.4627 151.765 11.4627C149.617 11.4627 148.23 9.33581 148.23 6.73881ZM153.377 6.73881C153.377 5.14926 152.728 4.00747 151.743 4.00747C150.714 4.00747 150.109 5.14926 150.109 6.73881C150.109 8.41791 150.714 9.60447 151.743 9.60447C152.705 9.60447 153.377 8.41791 153.377 6.73881ZM166.445 11.3507L165.259 8.3955H164.498V11.3507H162.73V2.30596H165.326C167.385 2.30596 168.414 3.62691 168.414 5.23885C168.414 6.33586 167.833 7.41044 166.915 7.99253L168.258 11.3507H166.445ZM165.416 6.60449C166.154 6.60449 166.714 5.95524 166.714 5.21644C166.714 4.56719 166.132 4.00747 165.416 4.00747H164.521V6.60449H165.416ZM222.546 11.3507V2.30596H224.314V11.3507H222.546ZM237.785 11.3507V6.38059L235.861 10.9478L233.914 6.38059V11.3507H232.124V2.30596H233.936L235.838 6.78356L237.718 2.30596H239.531V11.3507H237.74H237.785ZM247.363 11.3507V2.30596H249.959C251.749 2.30596 253.047 3.44781 253.047 5.23885C253.047 7.02989 251.749 8.41791 249.959 8.41791H249.131V11.3731H247.363V11.3507ZM250.026 6.60449C250.764 6.60449 251.324 5.95524 251.324 5.21644C251.324 4.56719 250.742 4.00747 250.026 4.00747H249.131V6.60449H250.026ZM260.252 6.73881C260.252 4.29852 261.595 2.19405 263.788 2.19405C265.981 2.19405 267.324 4.29852 267.324 6.73881C267.324 9.33581 265.936 11.4627 263.788 11.4627C261.64 11.4627 260.252 9.33581 260.252 6.73881ZM265.399 6.73881C265.399 5.14926 264.75 4.00747 263.766 4.00747C262.736 4.00747 262.132 5.14926 262.132 6.73881C262.132 8.41791 262.736 9.60447 263.766 9.60447C264.728 9.60447 265.399 8.41791 265.399 6.73881ZM278.468 11.3507L277.282 8.3955H276.521V11.3507H274.753V2.30596H277.349C279.408 2.30596 280.437 3.62691 280.437 5.23885C280.437 6.33586 279.855 7.41044 278.938 7.99253L280.28 11.3507H278.468ZM277.438 6.60449C278.177 6.60449 278.736 5.95524 278.736 5.21644C278.736 4.56719 278.154 4.00747 277.438 4.00747H276.543V6.60449H277.438ZM289.791 11.3507V4.00747H287.844V2.30596H293.461V4.00747H291.581V11.3507H289.791ZM301.024 11.3507V2.30596H306.015V4.00747H302.77V5.73132H305.276V7.5224H302.77V9.62688H306.015V11.3731H301.024V11.3507ZM317.383 11.3507L316.197 8.3955H315.436V11.3507H313.668V2.30596H316.264C318.322 2.30596 319.352 3.62691 319.352 5.23885C319.352 6.33586 318.77 7.41044 317.852 7.99253L319.195 11.3507H317.383ZM316.353 6.60449C317.092 6.60449 317.651 5.95524 317.651 5.21644C317.651 4.56719 317.069 4.00747 316.353 4.00747H315.458V6.60449H316.353ZM380.51 11.3507V6.38059L378.585 10.9478L376.639 6.38059V11.3507H374.848V2.30596H376.661L378.563 6.78356L380.443 2.30596H382.255V11.3507H380.465H380.51ZM395.212 11.3507L394.63 9.5149H391.811L391.229 11.3507H389.506C390.49 8.35074 391.542 5.28356 392.504 2.30596H393.981L396.98 11.3507H395.257H395.212ZM393.22 5.26119L392.392 7.74629H394.026L393.22 5.26119ZM408.37 11.3507L406.759 7.56715L405.953 8.93286V11.3283H404.163V2.28362H405.953V5.66416L407.99 2.28362H409.914L407.967 5.61941L410.384 11.3283H408.392L408.37 11.3507ZM417.657 11.3507V2.30596H422.647V4.00747H419.402V5.73132H421.909V7.5224H419.402V9.62688H422.647V11.3731H417.657V11.3507ZM434.015 11.3507L432.829 8.3955H432.068V11.3507H430.3V2.30596H432.896C434.955 2.30596 435.984 3.62691 435.984 5.23885C435.984 6.33586 435.402 7.41044 434.485 7.99253L435.828 11.3507H434.015ZM432.986 6.60449C433.724 6.60449 434.283 5.95524 434.283 5.21644C434.283 4.56719 433.702 4.00747 432.986 4.00747H432.09V6.60449H432.986ZM346.988 8.50748C346.071 8.50748 345.332 7.76863 345.332 6.85072C345.332 5.88804 346.071 5.14928 346.988 5.14928C347.95 5.14928 348.689 5.88804 348.689 6.85072C348.689 7.76863 347.973 8.50748 346.988 8.50748ZM195.156 8.50748C194.238 8.50748 193.5 7.76863 193.5 6.85072C193.5 5.88804 194.238 5.14928 195.156 5.14928C196.118 5.14928 196.856 5.88804 196.856 6.85072C196.856 7.76863 196.118 8.50748 195.156 8.50748ZM32.4924 10.1418C32.0224 10.1418 31.642 10.5224 31.642 10.9925C31.642 11.4627 32.0224 11.8433 32.4924 11.8433C32.9623 11.8433 33.3427 11.4627 33.3427 10.9925C33.3427 10.5224 32.9623 10.1418 32.4924 10.1418Z" fill="#A88667"/>
      </svg>
    </div>
    <div class="flex-1 flex gap-4 justify-end items-start">
      {% for link in section.settings.footer_legal_menu.links %}
        {% assign down_link_title = link.title | downcase %}
        {% if down_link_title contains "choices" %}
            <a class="truevault-polaris-optout text-xs sm:text-sm tracking-4pc capitalize flex gap-1 items-center" href="https://privacy.rishi-tea.com/opt-out" noreferrer noopener hidden>
              <img src="https://polaris.truevaultcdn.com/static/assets/icons/optout-icon-transparent.svg"
              alt="California Consumer Privacy Act (CCPA) Opt-Out Icon"
              style="vertical-align:middle" height="10px"
              />
              Your Privacy Choices
            </a>
          {% elsif down_link_title contains "terms"  %}
            <div class="flex flex-col gap-2">
              <a
                class="text-xs sm:text-sm tracking-4pc capitalize"
                href="{{ link.url }}"
              >
                {{ link.title }}
              </a>
              <a class="truevault-polaris-privacy-notice text-xs sm:text-sm tracking-4pc capitalize" href="https://privacy.rishi-tea.com/privacy-policy#california-privacy-notice" noreferrer noopener hidden>California Privacy Notice</a>
            </div>
            {% elsif down_link_title contains 'privacy policy' %}
              <a
                class="text-sm tracking-4pc capitalize privacy-policy-general"
                href="{{ link.url }}"
              >
                {{ link.title }}
              </a>
          {% else %}
            <a
              class="text-xs sm:text-sm tracking-4pc capitalize"
              href="{{ link.url }}"
            >
              {{ link.title }}
            </a>
        {% endif %}
        {% comment %} {% if down_link_title contains 'privacy policy' %}
          <a class="truevault-polaris-optout text-sm tracking-4pc capitalize privacy-policy-california" href="https://privacy.rishi-tea.com/opt-out" noreferrer noopener hidden>
            <img src="https://polaris.truevaultcdn.com/static/assets/icons/optout-icon-transparent.svg"
            alt="California Consumer Privacy Act (CCPA) Opt-Out Icon"
            style="vertical-align:middle" height="10px"
            />
            {{ link.title }}
            </a>
        {% endif %} {% endcomment %}
      {% endfor %}
      <a
        class="text-xs sm:text-sm tracking-4pc capitalize"
        target="_blank"
        href="https://bf.inc/"
      >
        Site Credit
      </a>
    </div>
  </div>
</footer>



<script>
  document.addEventListener("visitorConsentCollected", (event) => {
    console.log("ttttt",window.Shopify.customerPrivacy.getRegion());
    // || window.Shopify.customerPrivacy.getRegion() == "USDE"
    if (window.Shopify.customerPrivacy.getRegion() == "USCA") {
      document.querySelector(".privacy-policy-general").style.display = "none";
      // document.querySelector(".privacy-policy-california").style.display = "flex";
    }
  });
</script>

{% schema %}
{
  "name": "footer",
  "tag": "footer",
  "settings": [
    {
      "type": "text",
      "id": "customer_phone",
      "label": "Customer Services Phone"
    },
    {
      "type": "text",
      "id": "customer_copy",
      "label": "Customer Services Copy"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer menu"
    },
    {
      "type": "link_list",
      "id": "footer_legal_menu",
      "label": "Footer legal menu"
    }
  ]
}
{% endschema %}
