<section class="section-p-x section-p-b {{ section.settings.padding_bottom }}">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-3 gap-y-5 lg:gap-y-12">
    {% for block in section.blocks %}
      {% if block.type == 'press_quote' %}
        <a href="{{ block.settings.link }}" target="_blank">
          <div class="flex flex-col p-6 md:p-8 justify-between bg-light rounded-4 overflow-hidden h-full" style="background-color: {{ block.settings.background_color }}">
            <div>
              {% if block.settings.date %}
                <span class="para-2xs pb-6 block pt-5 opacity-75 ">{{ block.settings.date }}</span>
              {% endif %}
              {% if block.settings.quote %}
                <div class="font-100 text-3xl leading-1.2 tracking-1pc md:text-5xl 2xl:text-[40px] pb-8 md:pb-12 font-serif md:pt-14">{{ block.settings.quote }}</div>
              {% endif %}
            </div>
            {% if block.settings.logo %}
              <div class="lg:max-w-[65%]">
                <img class="" src="{{ block.settings.logo | img_url: '400x' }}" alt="{{ block.settings.logo.alt }}">
              </div>
            {% endif %}
          </div>
        </a>
      {% else %}
        <a href="{{ block.settings.link }}" target="_blank">
          <div class="flex flex-col relative bg-light rounded-4 overflow-hidden group">
            {% if block.settings.image %}
              <div class="overflow-hidden">
                {% render 'image',
                  image_desktop: block.settings.image,
                  width_desktop: '800x',
                  width_mobile: '500x',
                  ratio_desktop: '100%',
                  ratio_mobile: '100%',
                  lazy: true,
                  image_classes: 'group-hover:scale-102 transition-transform duration-500 ease-in-out'
                %}
              </div>
            {% endif %}
            <div class="px-5 md:px-8 pb-6 md:pb-8 pt-5 flex flex-col justify-between">
              <div>
                {% if block.settings.date %}
                  <span class="para-2xs pb-6 block opacity-75">{{ block.settings.date }}</span>
                {% endif %}
                {% if block.settings.title %}
                  <h5 class="font-100 text-3xl leading-1.2 tracking-1pc md:text-5xl md:leading-none pb-8 md:pb-12 font-serif">{{ block.settings.title }}</h5>
                {% endif %}
              </div>
              {% if block.settings.logo %}
                <div class="lg:max-w-[65%]">
                  <img class="" src="{{ block.settings.logo | img_url: '400x' }}" alt="{{ block.settings.logo.alt }}">
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Press Grid",
  "class": "section-press-grid",
  "settings": [
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "info": "This indicates how much padding should be added to the bottom of the section.",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    }
  ],
  "blocks": [
    {
      "name": "Press Item",
      "type": "press_item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "1.1.2023"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Press Link"
        }
      ]
    },
    {
      "name": "Press Quote",
      "type": "press_quote",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#909563"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "1.1.2023"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Press Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Press Grid"
    }
  ]
}
{% endschema %}